stages:
  - build
  - lint
  - test

build:
  stage: build
  image: rust:latest
  needs: []
  script:
    - cargo build

format:
  stage: lint
  image: rust:latest
  needs: []
  script:
    - rustup component add rustfmt
    - cargo fmt --check

clippy:
  stage: lint
  image: rust:latest
  needs: []
  script:
    - rustup component add clippy
    - cargo clippy -- -Dwarnings

test:
  stage: test
  image: rust:latest
  needs: []
  script:
    - cargo test

bench:
  stage: test
  image: rust:latest
  needs: []
  script:
    - cargo bench
